{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body onload="startTime()">

  <div id="header">
     <a href="{% url "dashboard" %}"> <span class="logo">Satori-2</span> </a>
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url "dashboard" %}">My dashboard</a>
        </li>
       <li {% if section == "submit" %}class="selected"{% endif %}>
           <a href="{% url "submit" contest_id %}">submit</a>
        </li>
       <li {% if section == "submission" %}class="selected"{% endif %}>
           <a href="{% url "submission" contest_id %}">submissions</a>
        </li>
      <li {% if section == "problem" %}class="selected"{% endif %}>
           <a href="{% url "problem" contest_id %}">problems</a>
        </li>
       </li>
           <li {% if section == "ranking" %}class="selected"{% endif %}>
           <a href="{% url "ranking" contest_id %}">ranking</a>
        </li>
       {% if is_admin %}
      <li {% if section == "add_problem" %}class="selected"{% endif %}>
           <a href="{% url "add_problem" contest_id %}">add problem</a>
        </li>
       <li {% if section == "add_contest_user" %}class="selected"{% endif %}>
           <a href="{% url "add_contest_user" contest_id %}">mange users</a>

    {% endif %}
      </ul>
    {% endif %}

    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url "logout" %}">Logout</a>
      {% else %}
        <a href="{% url "login" %}">Log-in</a>
      {% endif %}
    </span>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

</body>

<footer>

      current contest: {{ contestname}}       &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     current time: <span id="txt"></span>

</footer>
</html>