{% extends "in_contest.html" %}
{% block title %}You added the user!{% endblock %}
{% block content %}
<h1>You added the user!</h1>
<p>Go back to the contest  <a href="{%url "contest_detail" contest_id%}">page</a>.</p>
{% endblock %}