
{% extends "in_contest.html" %}
{% block title %}Create a problem{% endblock %}


{% block content %}
<h1>Create a problem</h1>
<p>Please, create a problem using the following form:</p>
<form   enctype="multipart/form-data" action="add_problem" method="post">
{{ problem_form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Create problem"></p>
</form>
{% endblock %}

