{% extends "in_contest.html" %}
{% block title %}You created problem!{% endblock %}
{% block content %}
<h1>You created problem!</h1>
<p>Go back to contest  <a href="{%url "contest_detail" contest_id%}">page</a>.</p>
{% endblock %}