{% extends "in_contest.html" %}
{% block title %}Menage contest users{% endblock %}
{% block content %}
<h1>Menage contest users</h1>

<form   enctype="multipart/form-data" action="add_contest_user"  method="post">
{{form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Add user" name="add"></p>
</form>

    <form   enctype="multipart/form-data" action="add_contest_user"  method="post">
{{del.as_p }}
{% csrf_token %}
<p><input type="submit" value="Delete user" name="del"></p>
</form>

    <p>Contest users:</p>
       <table class="greenTable">
<thead>
<tr>
<th>User</th>
<th>Name</th>
<th>Surname</th>
</tr>
</thead>
<tbody>
  {% for con in users %}
        <tr>

        <td>
        {{ con.username }}
        </td>
        <td>
         {{ con.first_name }}
        </td>
            <td>
         {{ con.last_name }}
        </td>



        </tr>
  {% endfor %}
</tbody>

</table>
      <p>  Contest admins:</p>
           <table class="greenTable">
<thead>
<tr>
<th>User</th>
<th>Name</th>
<th>Surname</th>
</tr>
</thead>
<tbody>
  {% for con in admins %}
        <tr>

        <td>
        {{ con.username }}
        </td>
        <td>
         {{ con.first_name }}
        </td>
            <td>
         {{ con.last_name }}
        </td>


        </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
