{% extends "in_contest.html" %}
{% block title %}You successfully changed the status!{% endblock %}
{% block content %}
<h1>You successfully changed the status of submission {{ sub }}!</h1>
<p>Go back to contest  <a href="{%url "contest_detail" contest_id%}">page</a>.</p>
{% endblock %}