{% extends "in_contest.html" %}
{% block title %}Override status{% endblock %}
{% block content %}
<h1>Override status</h1>
<p>Override status for submission number: {{ sub }}</p>
<form   enctype="multipart/form-data" action="."  method="post">
{{form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Override"></p>
</form>
{% endblock %}
