{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Available contests:</h1>


        <table class="greenTable">
<thead>
<tr>
<th>Shortname</th>
<th>Name</th>
<th>Enter contest</th>
</tr>
</thead>
<tbody>
  {% for con in contest %}
        <tr>

        <td>
         {{ con.shortname }}
        </td>
        <td>
         {{ con.name }}
        </td>

              <td>
      <a href="{{ con.id }}">
         <button class="myButton">enter</button>
      </a>
        </td>

        </tr>
  {% endfor %}
</tbody>
</table>




{% endblock %}
