{% extends "in_contest.html" %}
{% block title %}You removed the user from the contest!{% endblock %}
{% block content %}
<h1>You removed the user from the contest!</h1>
<p>Go back to the contest  <a href="{%url "contest_detail" contest_id%}">page</a>.</p>
{% endblock %}