{% extends "in_contest.html" %}
{% block title %}Edit problem{% endblock %}


{% block content %}
<h1>Edit the problem</h1>
<p>Please, edit the problem using the following form:</p>
<form   enctype="multipart/form-data" action="."  method="post">
{{ problem_form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Edit problem"></p>
</form>
{% endblock %}

s