{% extends "in_contest.html" %}
{% block title %}You successfully edited problem!{% endblock %}
{% block content %}
<h1>You successfully edited problem!</h1>
<p>Go back to contest  <a href="{%url "contest_detail" contest_id%}">page</a>.</p>
{% endblock %}