{% extends "in_contest.html" %}
{% block title %}Problems{% endblock %}
{% block content %}
    <h1>Available problems:</h1>
    <table class="greenTable">
<thead>
<tr>
<th>shortname</th>
<th>name</th>
<th>statement</th>
     {% if is_admin %}
     <th>edit problem</th>
    {% endif %}

</tr>
</thead>
<tbody>
 {% for con in problems %}
        <tr>

        <td>
         {{ con.shortname }}
        </td>
        <td>
         {{ con.name }}
        </td>


              <td>
      <a href="{% url "download_problem"  contest_id con.id%}">
         <button class="myButton">pdf</button>
      </a>
        </td>

 {% if is_admin %}
        <td>
      <a href="{% url "edit problem"  contest_id con.id%}">
         <button class="myButton">edit</button>
      </a>
        </td>
 {% endif %}



        </tr>
  {% endfor %}
</tbody>
</table>



{% endblock %}
