{% extends "in_contest.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
    <h1>Ranking:</h1>
    <table class="greenTable">
<thead>
<tr>
<th>username</th>
<th>Score</th>
<th>Penalty</th>
     <th>Problems Solved</th>

</tr>
</thead>
<tbody>
 {% for con in ranking %}
        <tr>
         {% for x in con %}
            <td>
            {{ x }}
            </td>
         {% endfor %}

        </tr>
  {% endfor %}
</tbody>
</table>



{% endblock %}
