{% extends "in_contest.html" %}
{% block title %}Submit your code{% endblock %}
{% block content %}
<h1>Submit your code</h1>
<form   enctype="multipart/form-data" action="submit" method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="submit"></p>
</form>
{% endblock %}
