{% extends "in_contest.html" %}
{% block title %}You successfully submitted your code!{% endblock %}
{% block content %}
<h1>You successfully submitted your code!</h1>
<p>Go back to contest  <a href="{%url "contest_detail" contest_id%}">page</a>.</p>
{% endblock %}