{% extends "in_contest.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
<h1>Submissions:</h1>

        <table class="greenTable">
<thead>
<tr>
<th>No</th>
<th>User</th>
<th>Problem</th>
    <th>Time</th>
    <th>source code</th>
    <th>status</th>

     {% if is_admin %}
         <th>
      Override result
        </th>

         {% endif %}
</tr>
</thead>
<tbody>
 {% for con in filter.qs %}
        <tr>

        <td>
         {{ con.id }}
        </td>
        <td>
         {{ con.user.username }}
        </td>
            <td>
         {{ con.problem.shortname}}
        </td>
             <td>
         {{ con.submit_time }}
        </td>

              <td>
      <a href="{% url "download_submission"  contest_id con.id %}">
         <button class="myButton">download</button>
      </a>
        </td>

     <td>
         {% for key, value in enum.values.items %}
              {% if key == con.status %}
                {{ value }}
            {% endif %}
         {% endfor %}
        </td>



         {% if is_admin %}
         <td>
      <a href="{% url "change_status"  contest_id con.id %}">
         <button class="myButton">override</button>
      </a>
        </td>

         {% endif %}



        </tr>
  {% endfor %}
</tbody>
</table>
      <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Filter</button>




{% endblock %}